In [1]:
import findspark
findspark.init('/home/ubuntu/spark-2.0.0-bin-hadoop2.7')

In [2]:
from pyspark import SparkContext

In [3]:
sc = SparkContext(appName="WordCount")

In [11]:
book = sc.textFile('book.txt')

In [25]:
book.count() #count how many lines there are
book.collect()[:10] # Print the first 10 lines

['Self-Employment: Building an Internet Business of One',
 'Achieving Financial and Personal Freedom through a Lifestyle Technology Business',
 'By Frank Kane',
 '',
 '',
 '',
 'Copyright Â© 2015 Frank Kane. ',
 'All rights reserved worldwide.',
 '',
 '']

In [34]:
# If we use map function it'll be a 2-dimensional array
words = book.map(lambda line: line.split(' '))

In [30]:
words.collect()[:5]

[['Self-Employment:', 'Building', 'an', 'Internet', 'Business', 'of', 'One'],
 ['Achieving',
  'Financial',
  'and',
  'Personal',
  'Freedom',
  'through',
  'a',
  'Lifestyle',
  'Technology',
  'Business'],
 ['By', 'Frank', 'Kane'],
 [''],
 ['']]

In [52]:
# we should use flatmap
wordsFlat = book.flatMap(lambda line: line.split(' '))

In [55]:
wordsFlat.collect()[:20]
# This function will produce a 1-dimensional array

['Self-Employment:',
 'Building',
 'an',
 'Internet',
 'Business',
 'of',
 'One',
 'Achieving',
 'Financial',
 'and',
 'Personal',
 'Freedom',
 'through',
 'a',
 'Lifestyle',
 'Technology',
 'Business',
 'By',
 'Frank',
 'Kane']

In [56]:
# normalize words to lowercase()
lowerCaseWords = wordsFlat.map(lambda x: x.lower())
#(200 * exp(-t)) if t > 200 else (400 * exp(-t))

In [58]:
lowerCaseWords.collect()[:10]

['self-employment:',
 'building',
 'an',
 'internet',
 'business',
 'of',
 'one',
 'achieving',
 'financial',
 'and']