# Spark DataFrame

## GroupBy and Aggregate Functions

In [2]:
import findspark

In [3]:
findspark.init('/home/ubuntu/spark-2.0.0-bin-hadoop2.7')

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('aggs').getOrCreate()

In [6]:
df  = spark.read.csv('../Dataset/Spark_DataFrames/sales_info.csv',inferSchema=True,header=True)

In [7]:
df.show(5)

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
+-------+-------+-----+
only showing top 5 rows

In [8]:
df.columns

['Company', 'Person', 'Sales']

In [10]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

In [14]:
avg_sales_company_group = df.groupBy("Company").avg('Sales')

In [23]:
#df.groupBy('Company').sum().show()
df.groupBy('Company').count().show()

+-------+-----+
|Company|count|
+-------+-----+
|   APPL|    4|
|   GOOG|    3|
|     FB|    2|
|   MSFT|    3|
+-------+-----+

In [27]:
#SUM ALL THE SALES WITH AGG
# df.agg({'Sales':'sum'}).show()
df.agg({'Sales':'max'}).show()

+----------+
|max(Sales)|
+----------+
|     870.0|
+----------+

In [28]:
group_data = df.groupBy('Company')

In [30]:
group_data.agg({'Sales':'max'}).show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

In [31]:
from pyspark.sql.functions import countDistinct,avg,stddev

In [34]:
#df.select(countDistinct('Sales')).show()
df.select(avg('Sales').alias('my_avg_sales')).show()

+-----------------+
|     my_avg_sales|
+-----------------+
|360.5833333333333|
+-----------------+

In [35]:
df.select(stddev('Sales').alias('my_stddev_sales')).show()

+------------------+
|   my_stddev_sales|
+------------------+
|250.08742410799007|
+------------------+

In [37]:
from pyspark.sql.functions import format_number

In [48]:
sales_std = df.select(stddev('Sales').alias('std'))
sales_std.select(format_number('std',4).alias('std 4 digits')).show()

+------------+
|std 4 digits|
+------------+
|    250.0874|
+------------+

In [47]:
df.orderBy("Sales").show()
df.orderBy(df['Sales'].desc()).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|Charlie|120.0|
|   MSFT|    Amy|124.0|
|   APPL|  Linda|130.0|
|   GOOG|    Sam|200.0|
|   MSFT|Vanessa|243.0|
|   APPL|   John|250.0|
|   GOOG|  Frank|340.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   MSFT|   Tina|600.0|
|   APPL|   Mike|750.0|
|     FB|   Carl|870.0|
+-------+-------+-----+

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|     FB|   Carl|870.0|
|   APPL|   Mike|750.0|
|   MSFT|   Tina|600.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   GOOG|  Frank|340.0|
|   APPL|   John|250.0|
|   MSFT|Vanessa|243.0|
|   GOOG|    Sam|200.0|
|   APPL|  Linda|130.0|
|   MSFT|    Amy|124.0|
|   GOOG|Charlie|120.0|
+-------+-------+-----+