# Spark DataFrame
## Missing Data

In [1]:
import findspark

In [2]:
findspark.init('/home/ubuntu/spark-2.0.0-bin-hadoop2.7')

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('miss').getOrCreate()

In [20]:
df = spark.read.csv('../Dataset/Spark_DataFrames/ContainsNull.csv',header=True,inferSchema=True)

In [25]:
df.columns
df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sales: double (nullable = true)

In [26]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2|     | null|
|emp3|     |345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [31]:
#Atleast non-null value
df.na.drop(thresh=2).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2|     | null|
|emp3|     |345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [36]:
df.na.drop(how='all').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2|     | null|
|emp3|     |345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [39]:
#If sales column missing
df.na.drop(subset=['Sales']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp3|     |345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [40]:
df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sales: double (nullable = true)

In [45]:
#df.na.fill(0).show()
df.na.fill(0,subset=['Sales']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|  0.0|
|emp2|     |  0.0|
|emp3|     |345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [46]:
from pyspark.sql.functions import mean

In [47]:
mean_value = df.select(mean(df['Sales'])).collect()

In [51]:
mean_sales = mean_value[0][0]

In [52]:
df.na.fill(mean_sales,["Sales"]).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2|     |400.5|
|emp3|     |345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [55]:
# In 1 line of Code
#df.na.fill(df.select(mean(df['Sales'])).collect()[0][0],['Sales']).show()
df.na.fill(df.select(mean(df['Sales'])).collect()[0][0],subset=['Sales']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2|     |400.5|
|emp3|     |345.0|
|emp4|Cindy|456.0|
+----+-----+-----+